* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
  }
   @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
  }
/* ПЕРЕМЕННЫЕ И ОБЩИЕ НАСТРОЙКИ*/
  :root {
    /* Basic fonts */
	--font-family: 'Roboto', sans-serif;
    /* Basic colors */
    --white:#ffffff;
    --black:#000000;
    /* Project colors */
    --grey:#EFEFEF;
    --accent:#F13C6E;
    --dark:#333333;
}
body {
	font-family: var(--font-family);
	font-weight: 400;
    background-color: var(--grey);
}
/* АДАПТИВНОСТЬ ДЛЯ ИЗОБРАЖЕНИЙ */
img {
	max-width: 100%;
}
/* ОБНУЛЯТОРЫ ДЛЯ СПИСКОВ */
.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* ОБНУЛЯТОРЫ ДЛЯ КНОПОК */
.btn-reset {
	padding: 0;
	border: none;
	font-family: var(--font-family);
	background-color: transparent;
	cursor: pointer;
}
/* ОГРАНИЧИВАЕМ КОНТЕНТ */
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

/* --------------- ШАПКА САЙТА --------------- */

/* ---------ВЕРХНЯЯ ЧАСТЬ ШАПКИ----------*/
.header-top {
    background-color: var(--grey);
}
.header-top-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 16px 0;
}
.header-top-item:not(:first-child) {
    padding-left: 30px;
}
.header-top-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
	font-size: 14px;
	line-height: calc(16 / 14 * 100%);
	text-align: center;
	color: var(--dark);
    text-decoration: none;
}
.header-top-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ---------СРЕДНЯЯ ЧАСТЬ ШАПКИ--------- */
/* -------- 1 --------- */
.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: var(--white);
    /* background-color:coral; */
}
.header-middle-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-header {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36 * 100%);
    letter-spacing: 0.1em;
    color: var(--accent);
    margin: 0 0 0 20px;
    text-transform: uppercase;
}

/* -------- 2 --------- */
.search-form input[type=text] {
    min-height: 40px;
    max-width: 250px;

    border: none;
    border-radius: 40px;
    outline: none;

    padding: 0 0 0 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16 * 100%);
    color: var(--black);

    background-color: var(--grey);
    background-image: url('img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
}
.search-form input[type=text]:focus {
    background-color: #F13C6E;
    color: #fff;
}

/* -------- 3 --------- */
.header-middle-contact-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 93px;
}
.header-contact-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16 * 100%);
    color: var(--black);
    text-decoration: none;
}
.header-middle-search-form-button {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    min-height: 40px;
    padding: 12px 26px 12px 27px;
    margin: 0 0 0 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14*100%);
    color: #000000;
    text-align: center;
    text-decoration: none;

    transition: all 0.3s ease 0s;
}
.header-middle-search-form-button:hover {
    background-color: #F13C6E;
    color: #fff;
}

.header-middle-border-bottom {
width: 100%;
height: 1px;
background: var(--grey);
}
/* ---------НИЖНЯЯ ЧАСТЬ ШАПКИ--------- */
.header-bottom-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
.header-bottom-item:not(:first-child) {
    padding-left: 40px;
}
.header-bottom-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 14px;
	line-height: calc(19 / 16 * 100%);
	text-align: center;
	color: var(--black);
    text-decoration: none;
}
.header-bottom-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* -------------ОСНОВНОЕ СОДЕРЖИМОЕ------------- */
/* --------БЛОК ОСНОВНОГО СОДЕРЖИМОГО-------- */
.hero {
	min-height: 604px;
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.container-position {
    position: relative;
    z-index: 1;
}
.hero-content {
    max-width: 308px;
    height: 100%;
    /* display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; */
    position: absolute;
    top: 192px;
    left: 15px;
    z-index: 2;
}
.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(56/48*100%);
    color: var(--white);
    margin: 0;
}
.hero-desc {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--white);
    padding: 50px 0 50px 0;
}
.hero-button {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
    min-height: 40px;
    padding: 12px 26px 12px 27px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14*100%);
    letter-spacing: 0.05em;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    text-decoration: none;

    transition: all 0.3s ease 0s;
}    
.hero-button:hover {
    background-color: #F13C6E;
    color: #000000;
}

/* --------БЛОК СО СКИДКАМИ-------- */
.discounts-wrapper {
    margin: 80px 0 0 0;
}
.discounts-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24*100%);
    color: #000000;
    margin: 0;
}
.discounts-body {
    margin: 38px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.discounts-item {
    display: flex;
    flex: 0 1 25%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 255px;
    background-color: #ffffff;
}
.discounts-img {
    padding: 25px 65px 0 65px;
}
.discounts-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14*100%);
    text-align: center;
    color: #333333;
    padding: 20px 30px 0 30px;
}
.discount-price {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: calc(25/21*100%);
    text-align: center;
    letter-spacing: 0.05em;    
    color: #000000;
    padding: 20px 87px 20px 87px;
}
div.discount-button {
    padding: 0 0 25px 0;
}
a.discount-button {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
    min-height: 35px;
    padding: 9px 40px 9px 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14*100%);
    letter-spacing: 0.05em;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    text-decoration: none;

    transition: all 0.3s ease 0s;
}    
.discount-button:hover {
    background-color: #F13C6E;
    color: #000000;
}

/* --------БЛОК С БОНУСАМИ И ПОДАРКАМИ-------- */
.gifts-wrapper {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.gifts-body {
    background-color: var(--accent);
    flex: 0 1 50%;
}
.gifts-item {

}
.gifts-title {

}
.gifts-descr {

}